aiohttp==3.7.3
aiohttp-cors==0.7.0
aioredis==1.3.1
altair==4.1.0
argon2-cffi==20.1.0
asgiref==3.3.1
astor==0.8.1
astroid==2.4.2
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
autopep8==1.5.4
backcall==0.2.0
base58==2.0.1
beautifulsoup4==4.9.3
bleach==3.2.1
blessings==1.7
blinker==1.4
boto3==1.16.18
botocore==1.19.18
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
colorful==0.5.4
cycler==0.10.0
dask==2.30.0
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.10
django-heroku==0.3.1
entrypoints==0.3
enum-compat==0.0.3
filelock==3.0.12
Flask==1.1.2
fsspec==0.8.4
gitdb==4.0.5
GitPython==3.1.11
google==3.0.0
google-api-core==1.23.0
google-auth==1.23.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
grpcio==1.33.2
gunicorn==20.0.4
hiredis==1.1.0
idna==2.10
ipykernel==5.3.4
ipynb==0.5.1
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
locket==0.2.0
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
modin==0.8.2
MouseInfo==0.1.3
msgpack==1.0.0
multidict==5.0.2
multitasking==0.0.9
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
nltk==3.5
notebook==6.1.4
numpy==1.19.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.11
opencensus-context==0.1.2
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.2
parso==0.7.1
partd==1.1.0
pathtools==0.1.2
pickleshare==0.7.5
Pillow==8.0.0
plotly==4.13.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.3
psycopg2==2.8.6
py-spy==0.3.3
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycodestyle==2.6.0
pycparser==2.20
pydeck==0.5.0
PyGetWindow==0.0.9
Pygments==2.7.1
pylint==2.6.0
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
PySocks==1.7.1
python-dateutil==2.8.1
python-decouple==3.3
PyTweening==1.0.3
pytz==2020.4
# pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
ray==1.0.1.post1
redis==3.4.1
regex==2020.11.13
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
s3transfer==0.3.3
Sastrawi==1.0.1
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
smmap==3.0.4
soupsieve==2.0.1
sqlparse==0.4.1
streamlit==0.71.0
swifter==1.0.7
tabulate==0.8.7
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.0.4
tqdm==4.52.0
traitlets==5.0.5
tweepy==3.9.0
typing-extensions==3.7.4.3
tzlocal==2.1
Unipath==1.1
urllib3==1.25.11
validators==0.18.1
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1
yarl==1.6.3
yfinance==0.1.55
