{% extends "layouts/base.html" %}

{% block title %} Klasifikasi {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">{{segment}}</h3>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Klasifikasi Naive Bayes</h4>
            <p class="card-description"> Upload file csv </p>
            <form class="forms-sample" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label>File upload</label>
                <input type="file" name="csvF" id="csvF" class="file-upload-default">
                <div class="input-group col-xs-12">
                  <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                  </span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
          </div>
        </div>
      </div>

      {% if df is not None %}
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row  d-flex justify-content-between flex-nowrap">
              <h4 class="card-title">Dataset</h4>
            </div>
            </p>

            <div class="table-responsive">
              <table class="table table-striped" data-page-length="10">
                <thead>
                  <tr>
                    <!-- <th>Date</th> -->
                    <th>Tweet</th>
                    <th>Class</th>
                    <th>Polaritas</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in k %}
                  <tr>
                    <!-- <td>{{ i.date }}</td> -->
                    <td>{{ i.text }}</td>
                    <td>{{ i.class }}</td>
                    <td>{{ i.polaritas }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row  d-flex justify-content-between flex-nowrap">
              <h4 class="card-title">Klasifikasi Naive Bayes</h4>
              <!-- <button type="submit" onclick="location.href='/'" class="btn btn-success mr-2">
                <i class="mdi mdi-file-document-box"></i>Download</button> -->
                <button class="btn btn-danger mr-2" type="submit" onclick="location.href='/visualize'">Visualize</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th> </th>
                        <th> precision </th>
                        <th> recall </th>
                        <th> f1-score </th>
                        <th> support</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in klasifikasi %}
                      <tr>
                        <td> {{ i.index }} </td>
                        <td> {{ i.recall }}</td>
                        <td> {{ i.precision }}</td>
                        <td> {{ i.f1_score }} </td>
                        <td> {{ i.support }} </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive">
                  <table class="table table-dark">
                    <thead>
                      <tbody>
                        <td width="30%" >Akurasi Algoritma Naive Bayes:</td>
                        <td width="70%" class="text-success">{{ accuracy }}</td>
                      </tbody>
                    </thead>
                  </table>
                </div>
                <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row  d-flex justify-content-between flex-nowrap">
              <h4 class="card-title">Confusion Matrix</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th> </th>
                        <th> negatif </th>
                        <th> netral </th>
                        <th> positif </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in matrix %}
                      <tr>
                        <td> {{ i.index }} </td>
                        <td> {{ i.neg }}</td>
                        <td> {{ i.net }}</td>
                        <td> {{ i.pos }} </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <a href="#" class="act-btn" data-toggle="modal" data-target="#exampleModal"><i class="mdi mdi-help"></i></a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Klasifikasi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Naive Bayes </h5>
          <p class="text-justify">Algoritma Naive Bayes merupakan sebuah metoda klasifikasi menggunakan metode probabilitas dan statistik yang dikemukakan oleh ilmuwan Inggris Thomas Bayes.</p>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}
    <script src="/static/assets/vendors/select2/select2.min.js"></script>
    <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="/static/assets/js/file-upload.js"></script>
    <script src="/static/assets/js/typeahead.js"></script>
    <script src="/static/assets/js/select2.js"></script>
{% endblock javascripts %}
