{% extends "layouts/base.html" %}

{% block title %} Preprocessing {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">{{segment}}</h3>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Text Preprocessing</h4>
            <p class="card-description"> Upload file csv </p>
            <form class="forms-sample" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label>File upload</label>
                <input type="file" name="csvF" id="csvF" class="file-upload-default">
                <div class="input-group col-xs-12">
                  <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                  </span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
          </div>
        </div>
      </div>

      {% if df is not None %}
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row  d-flex justify-content-between flex-nowrap">
              <h4 class="card-title">Hasil Preprocessing</h4>
              <button type="submit" onclick="location.href='/preprocessing/download'" class="btn btn-success mr-2">
                <i class="mdi mdi-file-document-box"></i>Download</button>
            </div>
            </p>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Tweet</th>
                    <th>Clean</th>
                    <th>Case Folding</th>
                    <th>Tokenize</th>
                    <th>Stopword</th>
                    <th>Stemming</th>
                    <th>Data Clean</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in d %}
                  <tr>
                    <td>{{ i.date }}</td>
                    <td>{{ i.text }}</td>
                    <td>{{ i.cleans }}</td>
                    <td>{{ i.caseFolding }}</td>
                    <td>{{ i.tokenize }}</td>
                    <td>{{ i.stopword }}</td>
                    <td>{{ i.stemming }}</td>
                    <td>{{ i.clean_text }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <a href="#" class="act-btn" data-toggle="modal" data-target="#exampleModal"><i class="mdi mdi-help"></i></a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Preprocessing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Text Preprocessing </h5>
          <p class="text-justify">Pada natural language processing (NLP), informasi yang akan digali berisi data-data yang strukturnya “sembarang” atau tidak terstruktur. Oleh karena itu, diperlukan proses pengubahan bentuk menjadi data yang terstruktur untuk kebutuhan lebih lanjut (sentiment analysis, topic modelling, dll).</p>
          <br>
          <h5>Natural language Toolkit</h5>
          <p class="text-justify">Natural Language Toolkit atau disingkat NLTK, adalah libray python untuk bekerja dengan permodelan teks. NLTK menyediakan alat yang baik mempersiapkan teks sebelum digunakan pada machine learning atau algoritma deep learning.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}
  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="/static/assets/js/file-upload.js"></script>
  <script src="/static/assets/js/typeahead.js"></script>
  <script src="/static/assets/js/select2.js"></script>
{% endblock javascripts %}
